<%-include("header/header.ejs")  %>

<main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam numquam quas, accusantium itaque reprehenderit unde corporis earum eum facere illum ab voluptates! Dolores quibusdam quas recusandae veniam reprehenderit nostrum!
</main>