<%-include("../header/header.ejs") %>

    <form action="/login" method="post">
        <input type="text" name="userName" placeholder="username">
        <br>
        <input type="password" name="passWord" placeholder="password">
        <br>
        <button>Login</button>
    </form>